* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 7fr;
  
}

#Nav {
  background-color: rgb(98, 91, 91);
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.50);
  padding-bottom: 1em;
  align-items: center;
}

#Nav h1 {
  margin-bottom: 1rem;
}

#nav_webname {
  color: white;
  text-decoration: none;
}

.nav_links {
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

#Home {
  min-height: auto;
  display: flex;
  flex-direction: column; 
  padding: 0 2rem;
  max-width: 100vw;
  align-items: center;
}

#latest_review {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  text-decoration: none;
  color: black;
  box-shadow: -10px 0px 15px 0px rgba(124,124,124,0.30), 10px 0px 15px 0px rgba(124,124,124,0.30);
  min-height: 80%;
}

#latest_review_img {
  height: 5rem;
  width: 100%;
}

#latest_review img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}

#latest_review .review_title {
  color: black;
  text-decoration: none;
}

#latest_review .review_body {
  margin: 0;
  padding: 0 0.8rem;
}

#review_section {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviews {
  
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 600px;
}

.review {
  height: 10rem;
  width: 100%;
  box-shadow: -10px 0px 15px 0px rgba(124,124,124,0.30), 10px 0px 15px 0px rgba(124,124,124,0.30);
  margin-bottom: 0.5rem;
  font-size: small;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35% 35% 30%;
  grid-template-areas: 
   "image title"
   "image designer"
   "owner votes";
}

.review .review_image {
  grid-area: image;
  width: 100%;
  height: 100%;
}

.review_image img {
  width: 100%;
  height: 100%; 
  box-shadow: 10px 10px 14px 4px rgba(136,136,136,0.51);
}

.review .review_title {
  grid-area: title;
  padding-top: 0.5rem;
  color: black;
}

.review .review_designer {
  margin-top: 0.5rem;
  margin-bottom: 0;
  grid-area: designer;
  line-height: 1rem;
  color: black;
  
}

.review .review_owner {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  grid-area: owner;
  line-height: 2rem;
  color: black;
}


.review .review_votes {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  grid-area: votes; 
  line-height: 2rem;
  color: black;
  
}

#single_review_parent {
  display: flex;
  justify-content: center;
}

#single_review {
  margin-top: 1rem;
  padding: 1rem;
  max-width: 600px;
  
}

#single_review img {
  height: 15%;
  width: 100%;
}

#comment_input {
  height: 10rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#comment_input textarea {
  height: 70%;
  width: 90%;
}

#comment_input button{
  margin-top: 1rem;
  width: fit-content;
}



