

.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 6fr;
  
}

#Nav {
  background-color: brown;
  border: black 100px;
}

#Home {
  min-height: auto;
  display: grid;
  grid-template-rows: 1fr auto;
}


