
/* General loader */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* overall app */

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
}

/* Nav bar */

#Nav {
  background-color: rgb(77, 75, 75);
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
  height:fit-content;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

#Nav_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  #Nav_flex {
    max-width: 1200px;
    margin: 0 auto;
  }
}

#Nav h1 {
  margin: 1rem 0 1rem 1rem;
  font-size: larger;
  text-align: center;
  
}

#nav_webname {
  color: white;
  text-decoration: none;
  font-size: xx-large;
}

#nav_links {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav_home {
  margin-left: auto;
}

.nav_links {
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

#sign_in_button {
  background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 1rem;
}

#sign_in_button:hover {
  color: #363636;
}

#sign_out_button {
  background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 1rem;
    margin-right: 3%;
}

#sign_out_button:hover {
  color: #363636;
}

#sign_up_button {
  background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 1rem;
}

#sign_up_button:hover {
  color: #363636;
}

#sign_up_name {
  margin: 10px 0;
}

@media screen and (min-width: 800px) {
  #navbar-burger {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  #nav_links {
    display: none;
  }
  
  #sign_out_button {
    padding: 0.5rem 0;
    margin-right: 0;
  }
  #burger_menu div {
    padding: 0.5rem;
  }
}

#navbar-burger {
  height: fit-content;
  flex-direction: column;
  margin-right: 20px;
}

#navbar-burger .burg {
  width: 20px;
  height: 5px;
  background-color: black;
  margin: 2px 0;
}

/* navburger menu */

.pageloader::after {
  display: none !important;
}

.pageloader {
  background:rgb(77, 75, 75) !important;
}

#burger_menu {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
}

/* overall app body */

#app_body {
  margin-top: 130px;
}

/* Home Page */

#Home {
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  max-width: 100vw;
  align-items: center;
}

#welcome {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  /*box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;*/
  /* margin: 2rem 0 1rem 0; */
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  border-radius: 15px 15px 0 0;
}

#welcome h2 {
  margin-bottom: 0.5rem;
  font-size: larger;
  font-weight: 500;
}

#welcome p {
  padding: 0 0.8rem;
}

#welcome h3 {
  font-size: large;
  margin-top: 0.5rem;
}

#latest_review {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  text-decoration: none;
  color: black;
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
  min-height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 15px 15px;
}

#latest_review_img {
  height: 5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

#latest_review img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#latest_review .review_title {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

#latest_review .review_designer {
  font-weight: 500;
}

#latest_review .review_body {
  margin: 0;
  padding: 0 0.8rem 2rem 0.8rem;
}

/* reviews page */

#review_section {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviews_top_section {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

#reviews_top_section h2 {
  font-size: larger;
}

#search_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviews_top_section input {
  margin-top:  0.7rem;
  margin-bottom: 0.3rem;
  width: 85%;
  height: 35px;
}

#reviews_top_section button {
  width: 75px;
  height: 35px;
  margin-bottom: 5px;
}

#reviews_top_section p {
  padding: 0 25px;
}

#dropdowns {
  max-width: 600px;
  margin-top: 0.5rem;
}

#dropdowns select {
  /* margin: 0 0.2rem; */
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;

}

#dropdown_category, #dropdown_sort {
  max-width: 110px;
  width: 30%;
}

#reviews {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 100vh;
  row-gap: 40px;
  column-gap: 40px;
  justify-content: center;
}

.review {
  max-height: 350px;
  min-height: 350px;
  max-width: 300px;
  min-width: 300px;
  /* margin-bottom: 40px; */
  
}

.review .review_title {
  margin: 10px 0;
  
  text-align: left;
  min-height: 52px;
  color: black;
  font-size:medium;
  font-weight: 500;
}

.review .review_title:hover, .review .review_designer:hover, .review .review_category:hover, .review .review_owner:hover {
  color: blue;
}

.review .review_designer, .review .review_category {
  padding-left: 10px;
  text-align: left;
  color: black;
  margin-bottom: 2px;
}

.review_name_like {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  overflow: visible;
  max-height: 24.3px;
}

.review .review_votes {
  font-size: large;
  min-width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: visible;
}

/* .review .review_votes svg {
  height: 24.3px;
} */

.review .heart_icon {
  font-size: 2rem;
  transform: translate(-2px, -8px);
}

.review .review_owner {
  color: black;
}

/* .review {
  height: 10rem;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: small;
  border-radius: 10px;
  box-shadow: rgb(105, 107, 109) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: rgba(248, 248, 248, 0.5);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35% 35% 30%;
  grid-template-areas:
    "image title"
    "image designer"
    "owner votes";
} */

.review .review_image {
  grid-area: image;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.review_image img {
  width: 50px;
  height: 50px;
}

/* .review_image img {
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 14px 4px rgba(136, 136, 136, 0.51);
} */

/* .review .review_title {
  grid-area: title;
  padding-top: 0.5rem;
  color: black;
}

.review .review_designer {
  margin-top: 0.5rem;
  margin-bottom: 0;
  grid-area: designer;
  line-height: 1rem;
  color: black;
}

.review .review_owner {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  grid-area: owner;
  line-height: 2rem;
  color: black;
}

.review .review_votes {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  grid-area: votes;
  line-height: 2rem;
  color: black;
} */

/* individual review */

#single_review_parent {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  border: solid black;
}

#single_review {
  margin: 2rem 1.4rem;
  padding: 0.8rem;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 10px;
}

#single_review img {
  max-height: fit-content;
  width: 100%;
  object-fit: contain;
  padding: 0 0.8rem;
  margin-top: 0.5rem;
}

/* comments section */

#comment_input {
  height: 10rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#comment_input textarea {
  height: 70%;
  width: 90%;
  border-radius: 10px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border: none;
}

#comment_input button {
  margin-top: 1rem;
  width: fit-content;
}


#comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

#comments ul {
  padding: 0;
  margin: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#comments li {
  width: 90%;
  list-style-type: none;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: rgb(105, 107, 109) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: rgba(248, 248, 248, 0.5);
}

.lds-dual-ring-comments {
  width: fit-content;
  display: inline-block;
  height: fit-content;
  
}
.lds-dual-ring-comments:after {
  content: " ";
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(16, 17, 17);
  border-color: rgb(10, 10, 10) transparent rgb(10, 10, 10) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring-comments {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

